<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

  <div class="divTitle">
    <h1>Cd</h1>
  </div>


  <div class="divTable">
    <table>
      <thead>
        <tr>
          <th>{{"id"}}</th>
          <th>{{"titolo"}}</th>
          <th>{{"artista"}}</th>
          <th>{{"nazione"}}</th>
          <th>{{"azienda"}}</th>
          <th>{{"prezzo"}}</th>
          <th>{{"anno"}} </th>
        </tr>
      </thead>
      <tbody>
        {% for x in cds %}

        <tr>
          <td><textarea rows="3" readonly>{{x.id}}</textarea></td>
          <td><textarea rows="3" readonly>{{x.titolo}}</textarea></td>
          <td><textarea rows="3" readonly>{{x.artista}}</textarea></td>
          <td><textarea rows="3" readonly>{{x.nazione}}</textarea></td>
          <td><textarea rows="3" readonly>{{x.azienda}}</textarea></td>
          <td><textarea rows="3" readonly>{{x.prezzo}}</textarea></td>
          <td><textarea rows="3" readonly>{{x.anno}}</textarea></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>

</body>

</html>
