<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>


  <div class="divTitle">
    <h1>Libri</h1>
  </div>


  <div class="divTable">
    <table>
      <thead>
        <tr>
          <th>{{"id"}}</th>
          <th>{{"autore"}}</th>
          <th>{{"titolo"}}</th>
          <th>{{"genere"}}</th>
          <th>{{"prezzo"}}</th>
          <th>{{"data pubblicazione"}}</th>
          <th>{{"descrizione"}} </th>
        </tr>
      </thead>
      <tbody>
        {% for x in libros %}

        <tr>
          <td>{{x.id}}</td>
          <td>{{x.autore}}</td>
          <td>{{x.titolo}}</td>
          <td>{{x.genere}}</td>
          <td>{{x.prezzo}}</td>
          <td>{{x.data_pubblicazione}}</td>
          <td>{{x.descrizione}} </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>

</body>

</html>