<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

  <div class="divTitle">
    <h1>Libro</h1>
  </div>


  <div class="divTable">
    <table>
      <thead>
        <tr>
          <th>{{"id"}}</th>
          <th>{{"autore"}}</th>
          <th>{{"titolo"}}</th>
          <th>{{"genere"}}</th>
          <th>{{"prezzo"}}</th>
          <th>{{"data pubblicazione"}}</th>
          <th>{{"descrizione"}} </th>
        </tr>
      </thead>
      <tbody>
        {% for x in libros %}
        <tr>
            <td><textarea rows="3" readonly>{{x.id}}</textarea></td>
            <td><textarea rows="3" readonly>{{x.autore}}</textarea></td>
            <td><textarea rows="3" readonly>{{x.titolo}}</textarea></td>
            <td><textarea rows="3" readonly>{{x.genere}}</textarea></td>
            <td><textarea rows="3" readonly>{{x.prezzo}}</textarea></td>
            <td><textarea rows="3" readonly>{{x.data_pubblicazione}}</textarea></td>
            <td><textarea rows="3" readonly>{{x.descrizione}}</textarea></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  


</body>

</html>